// File: _base.scss
// Contained within this file are all your resets, variables, mixins, and any utility classes.

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 0%);
}

.header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 3rem;
  background: linear-gradient(90deg, hsl(118, 100%, 25%), hsl(29, 80%, 44%));
  color: hsl(0, 0%, 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  .headerLeft {
    display: flex;
    .btnBurger {
      width: 20px;
      height: 15px;
      position: relative;
      margin: 10px auto;
      margin-right: 1rem;
      transform: rotate(0deg);
      transition: 0.5s ease-in-out;
      cursor: pointer;
      span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background: hsl(0, 0%, 80%);
        border-radius: 3px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: 0.25s ease-in-out;
        &:nth-child(1) {
          top: 0px;
          transform-origin: left center;
        }
        &:nth-child(2) {
          top: 6px;
          transform-origin: left center;
        }
        &:nth-child(3) {
          top: 12px;
          transform-origin: left center;
        }
      }
      &.open {
        span {
          &:nth-child(1) {
            transform: rotate(45deg);
            top: -1px;
            left: 3px;
          }
          &:nth-child(2) {
            width: 0;
            opacity: 0;
          }
          &:nth-child(3) {
            transform: rotate(-45deg);
            top: 13px;
            left: 3px;
          }
        }
      }
    }
    .logoAndTitle {
      a {
        position: relative;
        img {
          height: 2rem;
        }
        &::after {
          position: absolute;
          top: -12px;
          left: 44px;
          content: "AnimeCinema";
          color: hsl(0, 0%, 80%);
          text-decoration: none;
        }
      }
    }
  }
}

.main {
  width: 100%;
  min-height: calc(100vh - 3rem);
  background-color: hsl(0, 0%, 15%);
  color: hsl(0, 0%, 100%);
}

.footer {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.8rem;
  width: 100%;
  background-color: hsl(0, 0%, 10%);
  color: hsl(0, 0%, 100%);
  .footerNav {
    margin-bottom: 2rem;
    margin-top: 2rem;
    margin-left: 2rem;
    display: flex;
    justify-content: flex-start;
    .footerNavSection {
      margin-right: 5rem;
      li {
        margin-top: 1rem;
        list-style: none;
        a {
          color: hsl(0, 0%, 90%);
          text-decoration: none;
        }
      }
    }
  }
  .copy {
    margin-bottom: 2rem;
    margin-left: 2rem;
  }
  .socialLinks {
    text-align: right;
    margin-bottom: 2rem;
    margin-right: 2rem;
    a {
      padding: 0.5rem;
      font-size: 1.5rem;
      color: hsl(200, 100%, 50%);
    }
  }
}
