.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 3rem;
  background: linear-gradient(90deg, #8e1733, #0e4378);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.header .headerLeft {
  display: flex;
}

.header .headerLeft .navigation {
  position: fixed;
  left: -100%;
  top: 3rem;
  flex-direction: column;
  width: 19.5%;
  text-align: center;
  transition: 0.3s;
  z-index: 9;
  background-color: #8e1733;
  height: 100vh;
}

.header .headerLeft .navigation.active {
  left: 0;
}

.header .headerLeft .navigation.active li {
  transition-delay: 2s;
}

.header .headerLeft .navigation ul {
  height: 100%;
  list-style: none;
  padding-top: 3rem;
}

.header .headerLeft .navigation ul li {
  display: block;
  padding: 0 3rem;
  text-align: left;
}

.header .headerLeft .navigation ul li a {
  text-decoration: none;
}

.header .headerLeft .navigation ul li p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: whitesmoke;
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.header .headerLeft .hamburger {
  padding-top: 0.25rem;
  padding-right: 0.5rem;
  display: block;
  z-index: 99;
}

.header .headerLeft .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 4px 0;
  transition: all 0.3s ease-in-out;
  background-color: whitesmoke;
}

.header .headerLeft .hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.header .headerLeft .hamburger.active .bar:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}

.header .headerLeft .hamburger.active .bar:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}

.header .headerLeft .logoAndTitle a {
  position: relative;
}

.header .headerLeft .logoAndTitle a img {
  height: 2rem;
}

.header .headerLeft .logoAndTitle a::after {
  position: absolute;
  top: -12px;
  left: 44px;
  content: "AnimeCinema";
  color: #cccccc;
  text-decoration: none;
}

.main {
  width: 100%;
  min-height: calc(80vh - 3rem);
  background-color: #262626;
  color: white;
}

.main .flex {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.main .flex .poster {
  object-fit: contain;
  height: 25rem;
}

.post {
  background-color: #242424;
  width: 49vw;
}

.post:nth-child(1) {
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.seat-list {
  margin: 100px auto;
  display: flex;
  justify-content: center;
  width: 28vw;
  flex-wrap: wrap-reverse;
}

.seat {
  width: 60px;
  height: 60px;
  margin: 3px;
}

.free {
  background-color: powderblue;
}

.free:hover {
  background-color: #a0cdd3;
}

.booked {
  background-color: pink;
}

.booked:hover {
  background-color: #ebb1bb;
}

.newly-booked {
  background-color: gold;
}

.newly-booked:hover {
  background-color: goldenrod;
}

.container {
  height: 50px;
  position: relative;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.myButton {
  box-shadow: inset 0px 0px 15px 3px #23395e;
  background: linear-gradient(to bottom, #2e466e 5%, #415989 100%);
  background-color: #2e466e;
  border-radius: 17px;
  border: 1px solid #1f2f47;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  padding: 11px 27px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #263666;
}

.myButton:hover {
  background: linear-gradient(to bottom, #415989 5%, #2e466e 100%);
  background-color: #415989;
}

.myButton:active {
  position: relative;
  top: 1px;
}

.footer {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.8rem;
  width: 100%;
  background-color: #1a1a1a;
  color: white;
}

.footer .footerNav {
  margin-bottom: 2rem;
  margin-top: 2rem;
  margin-left: 2rem;
  display: flex;
  justify-content: flex-start;
}

.footer .footerNav .footerNavSection {
  margin-right: 5rem;
}

.footer .footerNav .footerNavSection li {
  margin-top: 1rem;
  list-style: none;
}

.footer .footerNav .footerNavSection a {
  color: #e6e6e6;
  text-decoration: none;
}

.footer .copy {
  margin-bottom: 2rem;
  margin-left: 2rem;
}

.footer .socialLinks {
  text-align: right;
  margin-bottom: 2rem;
  margin-right: 2rem;
}

.footer .socialLinks a {
  padding: 0.5rem;
  font-size: 1.5rem;
  color: #00aaff;
}
/*# sourceMappingURL=main.css.map */